{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'store/src/styles.css' %}" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </head>
  <body class="m-0 p-0 bg-dimly-blue">
    <nav class="p-5 bg-white flex">
      <div class="flex justify-between items-center">
        <a href="{% url 'store:products' %}">
          <span class="text-2xl font-[Poppins] cursor-pointer">
            <img
              class="h-10 inline"
              src="{% static 'store/images/pizza.png' %}"
            />
            Crispy Pizza
          </span>
        </a>
      </div>
      <h2>{{user.is_superuser}} {{user.username}}</h2>
      <ul class="flex ml-auto items-center">
        {% if user.is_superuser %}
        <li class="text-xl mx-4 hover:text-cyan-500 duration-500">
          <a href="{% url 'store:dashboard' %}">Dashboard</a>
        </li>

        {% endif %}

        <li class="text-xl mx-4 hover:text-cyan-500 duration-500">
          <a href="{% url 'store:products' %}">Home</a>
        </li>
        <li class="text-xl mx-4 hover:text-cyan-500 duration-500">
          <a href="">Menu</a>
        </li>
        <li class="text-xl mx-4 hover:text-cyan-500 duration-500">
          <a href="">Contact</a>
        </li>
        {% if user.is_authenticated %}
        <li class="text-xl mx-4 hover:text-cyan-500 duration-500">
          <a href="{% url 'store:logout' %}">Log Out</a>
        </li>
        {% else %}
        <li class="text-xl mx-4 hover:text-cyan-500 duration-500">
          <a href="{% url 'store:login' %}">Log In</a>
        </li>
        {% endif %}
      </ul>
    </nav>

    {% block content %} {% endblock %}
    <script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
  </body>
</html>
