{% extends 'store/base.html' %} {% block content %}

<h1 class="text-2xl font-bold text-center">Dashboard page</h1>
<div class="flex flex-col">
  <div>
    <a
      class="ml-4 px-4 bg-green-600 text-white p-3"
      href="{% url 'store:add_product' %}"
      >Add product</a
    >
  </div>
  <div class="mt-10">
    <p class="text-center">📄 List of products</p>
  </div>

  {% for product in products %}
  <div class="itemcontainer bg-white flex shadow-lg m-5 p-5">
    <span class="w-1/5">
      <img class="w-20 h-20" src="{{product.image.url}}" alt="" />
    </span>
    <span class="w-2/5">
      <div class="font-bold text-gray-700">{{product.name}}</div>
      <div class="text-green-500">$ {{product.price}}</div>
      <div>{{product.desc}}</div>
    </span>
    <div class="flex ml-auto items-center">
      <span class="w-1/5 my-10 mx-5">
        <a
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-6 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          href="{% url 'store:update_product' product.id %}"
          >Edit
        </a>
      </span>

      <span class="w-1/5 my-10 mx-5">
        <form
          action="{% url 'store:delete_product' product.pk %}"
          method="post"
          style="display: inline"
        >
          {% csrf_token %}
          <input type="hidden" name="product_id" value="{{ product.pk }}" />
          <button
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-6 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            type="submit"
            onclick="return confirm('Are you sure you want to delete {{product.name}}?');"
          >
            Delete
          </button>
        </form>
      </span>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
