{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'store/src/styles.css' %}" />
  </head>
  <body>
    <div class="w-screen h-screen flex justify-center items-center">
      <form class="p-10 bg-white rounded-xl drop-shadow-lg space-y-5" action="">
        <h1 class="text-center text-3xl">Kinda Code</h1>
        <div class="flex flex-col space-y-2">
          <label class="text-sm font-light" for="email">Email</label>
          <input
            class="w-96 px-3 py-2 rounded-md border border-slate-400"
            type="email"
            placeholder="Your Email"
            name="email"
            id="email"
          />
        </div>
        <div class="flex flex-col space-y-2">
          <label class="text-sm font-light" for="password">Password</label>
          <input
            class="w-96 px-3 py-2 rounded-md border border-slate-400"
            type="password"
            placeholder="Your Password"
            name="password"
            id="password"
          />
        </div>

        <div>
          <input type="checkbox" name="remember" id="remember" />
          <label class="text-sm font-light" for="remember">Remember me</label>
        </div>

        <button
          class="w-full px-10 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-500 hover:drop-shadow-md duration-300 ease-in"
          type="submit"
        >
          Sign In
        </button>

        <p class="text-right">
          <a
            class="text-blue-600 text-sm font-light hover:underline"
            href="https://www.kindacode.com"
            >Forget Password?</a
          >
        </p>
      </form>
    </div>
  </body>
  <!-- <script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script> -->
</html>
