{% extends "store/base.html" %} {% block content %} {% load static %}

<!-- Start Products List -->
<div>
  <h1
    class="text-2xl text-center uppercase rounded-lg mx-5 mt-5 py-2 w-48 bg-red-200"
  >
    Pizzas
  </h1>
  <div
    class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 mx-3"
  >
    {% for product in products %}
    <div
      class="flex flex-col m-2 bg-white rounded-xl shadow-md individual-container"
    >
      <img
        class="h-72 w-full rounded-t-xl"
        src="{{ product.image.url }}"
        alt=""
      />
      <h5
        class="mb-2 text-center text-2xl font-bold tracking-tight text-gray-900"
      >
        {{product.name}}
      </h5>

      <form
        action="{% url 'order:add_to_cart' product.id %}"
        method="post"
        class="text-center items-center mt-auto p-3"
        id="product-form"
      >
        {% csrf_token %}
        <div class="flex my-3">
          <!-- Start Choosing Quantity -->
          <div class="flex ml-3 w-4/5">
            <button class="decrement" type="button">
              <svg class="fill-current text-gray-600 w-4" viewBox="0 0 448 512">
                <path
                  d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
                />
              </svg>
            </button>
            <input
              class="w-1/3 mx-2 text-center"
              type="number"
              value="1"
              name="quantity"
              min="1"
              oninput="validity.valid||(value='');"
            />
            <button class="increment" type="button">
              <svg class="fill-current text-gray-600 w-4" viewBox="0 0 448 512">
                <path
                  d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
                />
              </svg>
            </button>
          </div>
          <!-- End Choosing Quantity -->
          <!-- Start Display Variant Prices -->
          {% if product.has_variants %}
          <div class="flex items-center font-bold text-xl text-green-500">
            <p class="prices-{{forloop.counter}} small-{{forloop.counter}}">
              ${{product.get_product_variants.0.price}}
            </p>
            <p
              class="prices-{{forloop.counter}} hidden medium-{{forloop.counter}}"
            >
              ${{product.get_product_variants.1.price}}
            </p>
            <p
              class="prices-{{forloop.counter}} hidden large-{{forloop.counter}}"
            >
              ${{product.get_product_variants.2.price}}
            </p>
          </div>
          {% else %}
          <div class="flex items-center font-bold text-xl text-green-500">
            <p>${{product.price}}</p>
          </div>
          {% endif %}
          <!-- End Display Variant Prices -->
        </div>
        <!-- Start Choosing Size -->
        {% if product.has_variants %}
        <div class="flex m-2 w-1/2">
          <div class="flex">
            <input
              type="radio"
              name="size"
              id="small-{{forloop.counter}}"
              class="peer hidden"
              value="{{product.get_product_variants.0.size}}"
              checked
            />
            <label
              for="small-{{forloop.counter}}"
              class="cursor-pointer select-none rounded-xl p-2 text-sm text-center peer-checked:bg-yellow-200 peer-checked:font-bold"
              >{{product.get_product_variants.0.size}}
            </label>
          </div>
          <div class="flex">
            <input
              type="radio"
              name="size"
              id="medium-{{forloop.counter}}"
              class="peer hidden"
              value="{{product.get_product_variants.1.size}}"
            />
            <label
              for="medium-{{forloop.counter}}"
              class="cursor-pointer select-none rounded-xl p-2 text-sm text-center peer-checked:bg-orange-300 peer-checked:font-bold"
              >{{product.get_product_variants.1.size}}</label
            >
          </div>
          <div class="flex">
            <input
              type="radio"
              name="size"
              id="large-{{forloop.counter}}"
              class="peer hidden"
              value="{{product.get_product_variants.2.size}}"
            />
            <label
              for="large-{{forloop.counter}}"
              class="cursor-pointer select-none rounded-xl p-2 text-sm text-center peer-checked:bg-green-500 peer-checked:font-bold"
              >{{product.get_product_variants.2.size}}</label
            >
          </div>
        </div>
        {% else %}
        <div class="p-5"></div>
        {% endif %}
        <!-- End Choosing Size -->
        <div class="flex">
          <button
            class="bg-green-300 hover:bg-green-500 rounded-xl w-full py-2 js-add"
            type="button"
          >
            <img
              class="absolute w-7 ml-6 hidden bg-transparent product-added"
              src="{% static 'store/images/checkmark.png' %}"
              alt=""
            />
            Add to cart
          </button>
        </div>
      </form>
    </div>
    {% endfor %}
  </div>
</div>
<!-- End Products List -->

{% endblock %}
