{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to the Website</title>
  </head>
  <body>
    <h1>List of Pizzas</h1>
    {% for pizza in pizzas %}
    <h2>{{pizza.id}}</h2>
    <div><img src="{{ pizza.image.url }}" alt="" /></div>
    <p>{{pizza.name}}</p>
    <p>{{pizza.price}}</p>
    <p>{{pizza.desc}}</p>
    {% endfor %}
  </body>
</html>
