{% extends "store/base.html" %} {% block content %} {% load static %}

<!-- Search Button Start -->
<div class="flex">
  <div class="ml-auto mr-2 my-2">
    <form method="GET" class="flex bg-green-200 rounded-lg" id="search-box">
      <input
        class="border-none outline-none bg-transparent focus:ring-0"
        type="text"
        placeholder="Search Products"
        name="product"
        value="{{search_string}}"
      />
      <!-- clicking on the button will submit the form -->
      <a
        class="mt-2"
        href="javascript:void(0);"
        onclick="document.getElementById('search-box').submit();"
      >
        <img class="mr-2" src="{% static 'store/images/search.svg' %}" alt="" />
      </a>
    </form>
  </div>
</div>
<!-- Search Button End -->

<div>
  <h1 class="text-2xl text-center font-bold mb-3">List of Pizzas</h1>
  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-5">
    {% for product in products %}
    <div
      class="flex flex-col m-2 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700"
    >
      <img
        class="w-60 h-auto block mx-auto"
        src="{{ product.image.url }}"
        alt=""
      />
      <h5
        class="mb-2 text-center text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {{product.name}}
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-center">
        {{product.desc}}
      </p>
      <form
        action="{% url 'order:add_to_cart' product.id %}"
        method="post"
        class="bg-green-200 w-full text-center items-center mt-auto p-3 hover:text-green-700"
      >
        {% csrf_token %}
        <button type="submit">Add to cart</button>
      </form>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
