{% extends "store/base.html" %} {% block content %} {% load static %}
<!-- Search Button Start -->
<div class="flex">
  <div class="ml-auto mr-2 my-2">
    <form method="GET" class="flex bg-green-200 rounded-lg" id="search-box">
      <input
        class="border-none outline-none bg-transparent focus:ring-0"
        type="text"
        placeholder="Search Products"
        name="product"
        value="{{search_string}}"
      />
      <!-- clicking on the button will submit the form -->
      <a
        class="mt-2"
        href="javascript:void(0);"
        onclick="document.getElementById('search-box').submit();"
      >
        <img class="mr-2" src="{% static 'store/images/search.svg' %}" alt="" />
      </a>
    </form>
  </div>
</div>
<!-- Search Button End -->

<!-- Start Products List -->
<div class="flex flex-col items-center">
  <h1
    class="text-2xl text-center uppercase rounded-lg ml-5 mr-auto py-2 w-48 bg-red-200"
  >
    Products
  </h1>
  <div
    class="grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 mx-3"
  >
    {% for product in products %}
    <div
      class="flex flex-col m-2 bg-white rounded-xl shadow-md individual-container"
    >
      {% if product.image %}
      <img
        class="h-72 w-full rounded-t-xl"
        src="{{ product.image.url }}"
        alt=""
      />
      {% endif %}
      <h5
        class="mb-2 text-center text-2xl font-semibold tracking-tight text-gray-900"
      >
        {{product.name}}
      </h5>

      <form
        action="{% url 'order:add_to_cart' product.id %}"
        method="post"
        class="text-center items-center mt-auto p-3"
        id="product-form"
      >
        {% csrf_token %}
        <div class="flex my-3">
          <!-- Start Choosing Quantity -->
          <div class="flex ml-3 w-4/5">
            <button class="decrement" type="button">
              <svg class="fill-current text-gray-600 w-4" viewBox="0 0 448 512">
                <path
                  d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
                />
              </svg>
            </button>
            <input
              class="w-1/3 h-7 mx-2 text-center rounded-md"
              type="number"
              value="1"
              name="quantity"
              min="1"
              oninput="validity.valid||(value='');"
            />
            <button class="increment" type="button">
              <svg class="fill-current text-gray-600 w-4" viewBox="0 0 448 512">
                <path
                  d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
                />
              </svg>
            </button>
          </div>
          <!-- End Choosing Quantity -->
          <!-- Start Display Variant Prices -->
          {% if product.has_variants %}
          <div class="flex items-center font-bold text-xl text-green-500">
            {% for variant in product.get_product_variants %}
            <p
              class="prices-{{forloop.parentloop.counter}} {{variant.size}}-{{forloop.parentloop.counter}} {% if not forloop.first %} hidden {% endif %}"
            >
              ${{variant.price|floatformat:1}}
            </p>
            {% endfor %}
          </div>
          {% else %}
          <div class="flex items-center font-bold text-xl text-green-500">
            <p>${{product.price|floatformat:1}}</p>
          </div>
          {% endif %}
          <!-- End Display Variant Prices -->
        </div>
        <!-- Start Choosing Size -->
        {% if product.has_variants %}
        <div class="flex m-2 w-1/2">
          {% for variant in product.get_product_variants%}
          <div class="flex">
            <!-- prettier-ignore -->
            <input type="radio" name="size" id="{{variant.size}}-{{forloop.parentloop.counter}}" class="peer hidden"
              value="{{variant.size}}" {% if forloop.first %} checked {% endif %} />
            <!-- prettier-ignore -->
            <label
              for="{{variant.size}}-{{forloop.parentloop.counter}}"
              class="cursor-pointer select-none rounded-xl p-2 text-sm text-center peer-checked:font-bold 
              {% if forloop.counter == 1 %} peer-checked:bg-orange-100 
              {% elif forloop.counter == 2 %} peer-checked:bg-orange-200
              {% elif forloop.counter == 3 %} peer-checked:bg-orange-300  
              {% else %} peer-checked:bg-orange-400 {% endif %}"
              >{{variant.size}}
            </label>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <div class="p-5"></div>
        {% endif %}
        <!-- End Choosing Size -->
        <div class="flex">
          <button
            class="bg-green-300 hover:bg-green-500 rounded-xl w-full py-2 js-add"
            type="button"
          >
            <img
              class="absolute w-7 ml-6 hidden bg-transparent product-added"
              src="{% static 'store/images/checkmark.png' %}"
              alt=""
            />
            Add to cart
          </button>
        </div>
      </form>
    </div>
    {% endfor %}
  </div>
</div>
<!-- End Products List -->

<!-- Start Pagination -->
<div class="flex items-center justify-center my-5">
  {% if products.has_previous %}
  <a class="text-sm font-bold items-center inline-flex relative" href="?page=1">
    <<
  </a>
  <a
    class="text-sm font-bold px-2 items-center inline-flex relative"
    href="?page={{products.previous_page_number}}"
  >
    <
  </a>
  {% else %}
  <span class="text-sm items-center inline-flex relative"> << </span>
  <span class="text-sm px-2 items-center inline-flex relative"> < </span>

  {% endif %}
  <span class="pagination"
    >{{products.number}} of {{products.paginator.num_pages}}</span
  >
  {% if products.has_next %}
  <a
    class="text-sm font-bold px-2 items-center inline-flex relative"
    href="?page={{products.next_page_number}}"
    >></a
  >
  <a
    class="text-sm font-bold items-center inline-flex relative"
    href="?page={{products.paginator.num_pages}}"
    >>></a
  >
  {% else %}
  <a
    class="text-sm px-2 items-center inline-flex relative pointer-events-none cursor-default"
    href="#"
    >></a
  >
  <a
    class="text-sm items-center inline-flex relative pointer-events-none cursor-default"
    href="#"
    >>></a
  >
  {% endif %}
</div>
<!-- End Pagination-->

<script src="{% static 'store/js/productHelper.js' %}"></script>

{% endblock %}
