{% extends 'store/base.html' %} {% block content %}

    <div class="flex flex-col shadow-md my-5 mx-3">
      <div class="w-full bg-white px-10 py-10">
        <a
          href="{% url 'store:products' %}"
          class="flex font-semibold text-indigo-600 text-sm my-5 w-1/4"
        >
          <svg
            class="fill-current mr-2 text-indigo-600 w-4"
            viewBox="0 0 448 512"
          >
            <path
              d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"
            />
          </svg>
          Continue Shopping
        </a>
        <div class="flex mt-10 mb-2">
            <h3 class="font-bold ml-3 text-gray-600 text-md uppercase w-2/5">
              Orders
            </h3>
        </div>
            <hr>
            <br>
        <!-- Headings Start -->
        <div class="flex font-semibold uppercase space-around bg-gray-200 rounded-lg p-3">
            <div class="text-sm w-1/6">Date</div>
            <div class="w-2/5">Order details</div>
            <div class="w-1/5">Items</div>
            <div class="w-1/5">Subtotal</div>
            <div class="w-1/5">Coupon</div>
            <div class="w-1/5">Total</div>
            <div class="w-1/12">Details</div>
        </div>
        <!-- Headings End -->

        {% for order in orders %}
        <div class="flex space-around hover:bg-gray-100 rounded-lg p-3">
          <div class="text-sm w-1/6">{{order.date_modified|date:"M d, Y" }}</div>
          <div class="w-2/5">
            {{order.display_items}}
          </div>
          <div class="w-1/5">{{order.get_cart_items}}</div>
          <div class="w-1/5">${{order.get_cart_subtotal}}</div>
          {% if order.coupon %}
          <div class="w-1/5">-${{order.get_coupon_value}}</div>
          {% else %}
          <div class="w-1/5">-</div>
           {% endif %}
          <div class="w-1/5 font-semibold">${{order.get_cart_total}}</div>
          <a class="w-1/12 text-blue-600" href="#">view</a>

        </div>
        {% endfor %}
      </div>
    </div>
  </div>
 {% endblock %}
</div>
