{% extends 'store/base.html' %} {% block content %} {% load static%}

<div class="my-5">
  <h1 class="flex items-center justify-center font-bold text-md lg:text-3xl">
    Checkout Page
  </h1>
</div>
<div class="flex justify-between mx-3 mb-5 bg-transparent rounded-xl">
  <div class="p-3 m-3 bg-white w-3/5 rounded-xl">
    <!-- Contact Info -->
    <div class="p-2">
      <h2 class="font-bold mb-3 text-2xl">Contact Information</h2>
      <div class="flex flex-col w-2/3 mb-5">
        <label class="mb-2 font-bold text-slate-500" for="email">Email:</label>
        <input
          class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]"
          type="email"
          name="email"
          placeholder="Please enter your email"
        />
      </div>
    </div>
    <!-- Shipping Info -->
    <div class="p-2">
      <h2 class="font-bold mb-5 text-2xl">Shipping Information</h2>
      <div class="flex flex-col">
        <div class="flex justify-between mb-2">
          <div class="flex flex-col w-1/2 mb-2">
            <label class="mb-2 font-bold text-slate-500" for="first-name"
              >First Name</label
            >
            <input
              class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]"
              type="text"
              name="first-name"
            />
          </div>
          <div class="flex flex-col w-1/2 ml-2">
            <label class="mb-2 font-bold text-slate-500" for="last-name"
              >Last Name</label
            >
            <input
              class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]"
              type="text"
              name="last-name"
            />
          </div>
        </div>
        <div class="flex flex-col w-full mb-2">
          <label class="mb-2 font-bold text-slate-500" for="address-1"
            >Address</label
          >
          <input
            class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]"
            type="text"
            name="address-1"
          />
        </div>
        <div class="flex flex-col w-full mb-2">
          <label class="mb-2 font-bold text-slate-500" for="address-2"
            >Apartment, suite, etc.</label
          >
          <input
            class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]"
            type="text"
            name="address-2"
          />
        </div>
        <div class="flex justify-between mb-2">
          <div class="flex flex-col w-1/2 mb-2">
            <label class="mb-2 font-bold text-slate-500" for="city">City</label>
            <input
              class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]"
              type="text"
              name="city"
            />
          </div>
          <div class="flex flex-col w-1/2 ml-2">
            <label class="mb-2 font-bold text-slate-500" for="country"
              >Country</label
            >
            <input
              class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]"
              type="text"
              name="country"
            />
          </div>
        </div>
        <div class="flex justify-between mb-2">
          <div class="flex flex-col w-1/2 mb-2">
            <label class="mb-2 font-bold text-slate-500" for="state"
              >State / Provice</label
            >
            <input
              class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]"
              type="text"
              name="state"
            />
          </div>
          <div class="flex flex-col w-1/2 ml-2">
            <label class="mb-2 font-bold text-slate-500" for="postal"
              >Postal Code</label
            >
            <input
              class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]"
              type="text"
              name="postal"
            />
          </div>
        </div>
        <div class="flex flex-col w-2/3 mb-2">
          <label class="mb-2 font-bold text-slate-500" for="phone">Phone</label>
          <input
            class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]"
            type="text"
            name="phone"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- Order Summary -->
  <div class="flex flex-col p-3 m-3 bg-gray-50 w-2/5 rounded-xl">
    <div>
      <h2 class="font-bold mb-5 text-2xl text-center">Order Summary</h2>
      <div class="flex justify-between mx-6 my-3">
        <p>Cart (<strong>{{order.get_cart_items}}</strong>)</p>
        <p class="text-blue-700"><a href="{% url 'order:cart' %}">Edit</a></p>
      </div>
      <!-- Order Items -->

      <div class="flex flex-col shadow-xl p-2 rounded-xl bg-white">
        {%for item in order_items%}
        <div class="flex gap-3 items-center mx-3 mb-2">
          <img
            class="w-14 rounded-lg"
            src="{{item.product.image.url}}"
            alt=""
          />
          <div>
            <h3 class="text-slate-500 text-xl">{{item.product.name}}</h3>
            <p>
              Size: <strong>{{item.variation.size.name}}</strong> Price:
              <strong>${{item.variation.price}}</strong> Qty:
              <strong>{{item.quantity}}</strong>
            </p>
          </div>
          <p class="ml-auto font-bold text-xl">${{item.get_total}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- Start Promo Code -->
    {% include "order/checkout_promo.html" %}
    <!-- End Promo Code -->
    <!-- Start Promo Code Message  -->
    {% for message in messages %}
    <div class="flex mt-2">
      {% if message.tags == "success"%}
      <p class="mx-auto text-green-500 italic">{{ message }}</p>
      {% elif message.tags == "error"%}
      <p class="mx-auto text-red-500 italic">{{ message }}</p>
      {% endif %}
    </div>
    {% endfor %}
    <!-- Start Promo Code Message  -->

    <div class="mt-5 py-5 shadow-xl rounded-xl bg-white">
      <div class="flex justify-between m-3 p-3">
        <p>Subtotal</p>
        <p>${{order.get_cart_subtotal}}</p>
      </div>
      {% if order.coupon %}
      <div class="flex m-3 p-3 text-green-500">
        <p>COUPON ({{order.coupon.code|upper}})</p>
        <form action="{% url 'order:remove-coupon' %}" method="post">
          {% csrf_token %}
          <button class="ml-2 text-red-600 text-xs" type="submit">
            remove
          </button>
        </form>
        <p class="ml-auto">-${{order.get_coupon_value}}</p>
      </div>
      {% endif %}
      <div class="flex justify-between m-3 p-3">
        <p>Delivery</p>
        <p>Free</p>
      </div>
      <hr />
      <div class="flex justify-between m-3 p-3 font-bold text-xl">
        <p>Total</p>
        <p>${{order.get_cart_total}}</p>
      </div>
      <!-- Start Payment Button -->
      <div class="flex mt-5">
        <button
          id="checkout"
          class="w-2/3 text-center mx-auto rounded-lg bg-indigo-500 font-semibold hover:bg-indigo-600 p-3 text-sm text-white uppercase"
        >
          Proceed to payment
        </button>
      </div>
      <!-- End Payment Button -->
    </div>
  </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  var stripe = Stripe("{{ stripe_publishable_key }}");
  var checkoutButton = document.getElementById("checkout");
  checkoutButton.addEventListener("click", function () {
    fetch("{% url 'order:api_checkout_session' order.transaction_id %}", {
      method: "POST",
    })
      .then(function (response) {
        return response.json();
      })
      .then(function (session) {
        return stripe.redirectToCheckout({ sessionId: session.sessionId });
      })
      .then(function (result) {
        if (result.error) {
          alert(result.error.message);
        }
      })
      .catch(function (error) {
        console.error("Error", error);
      });
  });
</script>

{% endblock %}
