{% extends 'store/base.html' %} {% block content %} {% load static%}
<div class="my-5">
  <h1 class="flex items-center justify-center font-bold text-md lg:text-3xl">
    Checkout Page
  </h1>
</div>
<!-- Shipping Option -->
<div class="flex w-3/5">
  <div class="w-4/5 mx-auto py-3 bg-white rounded-xl text-center">
    <form action="" id="delivery-form">
      <label class="m-2" for="delivery">Delivery</label>
      <input class="m-2" type="radio" name="shipping-option" id="delivery" checked>
      <label class="m-2" for="carryout">Carry-out</label>
      <input class="m-2" type="radio" name="shipping-option" id="carryout">
    </form>
  </div>
</div>

<div class="flex">
  <!-- Delivery Information -->
  <form id="address-form" method="POST" enctype="multipart/form-data" class="w-3/5 bg-white rounded-xl p-3 m-3">
    {% csrf_token %}

    <div class="flex flex-col justify-between mx-3 mb-5 bg-transparent rounded-xl">
      <!-- Contact Info -->
      <div class="p-2">
        <h2 class="font-bold mb-3 text-2xl">Contact Information</h2>
        <div class="flex flex-col w-2/3 mb-5">
          <label class="mb-2 font-bold text-slate-500" for="email">Email:</label>
          <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="email" name="email"
            placeholder="Please enter your email" value="vasya@gmail.com" required />
        </div>
        <div class="flex flex-col w-2/3 mb-2">
          <label class="mb-2 font-bold text-slate-500" for="phone">Phone</label>
          <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="text" name="phone"
            value="phone" required />
        </div>
      </div>
      <!-- Shipping Info -->
      <div class="p-2">
        <h2 class="font-bold mb-5 text-2xl">Shipping Information</h2>
        <div class="flex flex-col">
          <div class="flex justify-between mb-2">
            <div class="flex flex-col w-1/2 mb-2">
              <label class="mb-2 font-bold text-slate-500" for="first_name">First Name</label>
              <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="text" name="first_name"
                value="first-name" required />
            </div>
            <div class="flex flex-col w-1/2 ml-2">
              <label class="mb-2 font-bold text-slate-500" for="last_name">Last Name</label>
              <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="text" name="last_name"
                value="last-name" />
            </div>
          </div>
          <div class="flex flex-col w-full mb-2">
            <label class="mb-2 font-bold text-slate-500" for="address_1">Address</label>
            <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="text" name="address_1"
              value="address-1" required />
          </div>
          <div class="flex flex-col w-full mb-2">
            <label class="mb-2 font-bold text-slate-500" for="address_2">Apartment, suite, etc.</label>
            <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="text" name="address_2" />
          </div>
          <div class="flex justify-between mb-2">
            <div class="flex flex-col w-1/2 mb-2">
              <label class="mb-2 font-bold text-slate-500" for="city">City</label>
              <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="text" name="city"
                value="Angren" required />
            </div>
            <div class="flex flex-col w-1/2 ml-2">
              <label class="mb-2 font-bold text-slate-500" for="country">Country</label>
              <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="text" name="country"
                value="Uzbekistan" required />
            </div>
          </div>
          <div class="flex justify-between mb-2">
            <div class="flex flex-col w-1/2 mb-2">
              <label class="mb-2 font-bold text-slate-500" for="state">State / Provice</label>
              <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="text" name="state"
                value="Tashkent Region" required />
            </div>
            <div class="flex flex-col w-1/2 ml-2">
              <label class="mb-2 font-bold text-slate-500" for="postal_code">Postal Code</label>
              <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="text"
                name="postal_code" />
            </div>
          </div>
        </div>
        <div id="error-messages" class="text-red-500"></div>
      </div>
    </div>
  </form>

  <!-- Carry-out Information -->
  <form class="w-3/5 bg-white rounded-xl p-3 m-3 hidden" id="carryout-form">
    <div class="p-2">
      <h2 class="font-bold mb-3 text-2xl">Contact Information</h2>
      <div class="flex flex-col w-2/3 mb-2">
        <label class="mb-2 font-bold text-slate-500" for="carryout-email">Email</label>
        <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="email" name="carryout-email" id = "carryout-email" required />
      </div>
      <div class="flex flex-col w-2/3 mb-2">
        <label class="mb-2 font-bold text-slate-500" for="carryout-phone">Phone</label>
        <input class="rounded border-[#dcdcdc] focus:ring-0 focus:border-[#c0c0c0]" type="text" name="carryout-phone" id = "carryout-phone"  required />
      </div>
      <div class="py-2 mt-3">
        <h2 class="font-bold mb-3 text-2xl">Pick-up Details</h2>
        <div>
          <!-- SELECT TIME -->
          <h2 class="font-semibold my-3">Pick-up Time</h2>
          <div class="flex gap-3 mb-3">
            <div>
              <input type="radio" name="size" id="asap" class="peer hidden" checked />
              <label for="asap"
                class="cursor-pointer select-none rounded-xl py-2 px-5 text-sm text-center peer-checked:bg-cyan-300 peer-checked:font-bold">As
                soon as possible
              </label>
            </div>
            <div>
              <input type="radio" name="size" id="select-time" class="peer hidden" />
              <label for="select-time"
                class="cursor-pointer select-none rounded-xl py-2 px-7 text-sm text-center peer-checked:bg-lime-300 peer-checked:font-bold">
                Select time</label>
            </div>
          </div>
          <div class="hidden" id="date-time-picker">
            <input type="date" name="datepicker" id="datepicker" class="w-36 rounded text-center">
            <input type="text" class="timepicker w-36 rounded text-center" id="timepicker">
          </div>

        </div>
        <div>
          <!-- SELECT PAYMENT -->
          <h2 class="font-semibold my-3">Payment Method</h2>
          <div class="flex gap-3 mb-3">
            <div>
              <input type="radio" name="payment" id="online" class="peer hidden" checked />
              <label for="online"
                class="cursor-pointer select-none rounded-xl py-2 px-5 text-sm text-center peer-checked:bg-teal-300 peer-checked:font-bold">
                Online
              </label>
            </div>
            <div>
              <input type="radio" name="payment" id="cash" class="peer hidden" />
              <label for="cash"
                class="cursor-pointer select-none rounded-xl py-2 px-7 text-sm text-center peer-checked:bg-green-300 peer-checked:font-bold">
                Cash</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Order Summary -->
  <div class="flex flex-col p-3 m-3 bg-gray-50 w-2/5 rounded-xl">
    <div>
      <h2 class="font-bold mb-5 text-2xl text-center">Order Summary</h2>
      <div class="flex justify-between mx-6 my-3">
        <p>Cart (<strong>{{order.get_cart_items}}</strong>)</p>
        <p class="text-blue-700"><a href="{% url 'order:cart' %}">Edit</a></p>
      </div>
      <!-- Order Items -->
      <div class="flex flex-col shadow-xl p-2 rounded-xl bg-white">
        {% for item in order_items %}
        <div class="flex gap-3 items-center mx-3 mb-2">
          <img class="w-14 rounded-lg" src="{{item.product.image.url}}" alt="" />
          <div>
            <h3 class="text-slate-500 text-xl">{{item.product.name}}</h3>
            <p>
              Size: <strong>{{item.variation.size.name}}</strong> Price:
              <strong>${{item.variation.price}}</strong> Qty:
              <strong>{{item.quantity}}</strong>
            </p>
          </div>
          <p class="ml-auto font-bold text-xl">${{item.get_total}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- Start Promo Code -->
    {% include "order/checkout_promo.html" %}
    <!-- End Promo Code -->
    <!-- Start Promo Code Message  -->
    {% for message in messages %}
    <div class="flex mt-2">
      {% if message.tags == "success"%}
      <p class="mx-auto text-green-500 italic">{{ message }}</p>
      {% elif message.tags == "error"%}
      <p class="mx-auto text-red-500 italic">{{ message }}</p>
      {% endif %}
    </div>
    {% endfor %}
    <!-- Start Promo Code Message  -->
    <div class="mt-5 py-5 shadow-xl rounded-xl bg-white">
      <div class="flex justify-between m-3 p-3">
        <p>Subtotal</p>
        <p>${{order.get_cart_subtotal}}</p>
      </div>
      {% if order.coupon %}
      <div class="flex m-3 p-3 text-green-500">
        <p>COUPON ({{order.coupon.code|upper}})</p>
        <form action="{% url 'order:remove-coupon' %}" method="post">
          {% csrf_token %}
          <button class="ml-2 text-red-600 text-xs" type="submit">
            remove
          </button>
        </form>
        <p class="ml-auto">-${{order.get_coupon_value}}</p>
      </div>
      {% endif %}
      <div class="flex justify-between m-3 p-3">
        <p>Delivery</p>
        <p>Free</p>
      </div>
      <hr />
      <div class="flex justify-between m-3 p-3 font-bold text-xl">
        <p>Total</p>
        <p>${{order.get_cart_total}}</p>
      </div>
      <!-- Start Payment Button -->
      <div class="flex mt-5">
        <!-- submits address form -->
        <input id="delivery-submit"
          class="w-2/3 text-center mx-auto rounded-lg bg-indigo-500 font-semibold hover:bg-indigo-600 cursor-pointer p-3 text-sm text-white uppercase"
          value="Place Order" type="submit" form="address-form">
        </input>
        <!-- submits carry-out form -->
        <input id="carryout-submit"
          class="w-2/3 text-center mx-auto rounded-lg bg-indigo-500 font-semibold hover:bg-indigo-600 cursor-pointer p-3 text-sm text-white uppercase hidden"
          value="Place Order" type="submit" form="carryout-form">
        </input>
      </div>
      <!-- End Payment Button -->
    </div>
  </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  var delivery = true;
  var online = true;
  // listen to radio buttons to swith between Delivery and Carry-out forms
  // delivery form
  document.getElementById("delivery").addEventListener('click', function (event) {
    document.getElementById("carryout-form").style.display = "none";
    document.getElementById("address-form").style.display = "block";
    // toggle form submission buttons
    document.getElementById('carryout-submit').style.display = "none";
    document.getElementById('delivery-submit').style.display = "block";
  })
  // carry-out form
  document.getElementById("carryout").addEventListener('click', function (event) {
    document.getElementById("address-form").style.display = "none";
    document.getElementById("carryout-form").style.display = "block";
    // toggle form submission buttons
    document.getElementById('carryout-submit').style.display = "block";
    document.getElementById('delivery-submit').style.display = "none";
    // online must be checked at initial navigation
    document.getElementById('online').checked = true;
    // change delivery method
    delivery = false;
  })

  // Change payment method
  // if cash button is checked
  document.getElementById('cash').addEventListener("change", function (event) {
    online = false;
  })
  // if online button is checked
  document.getElementById('online').addEventListener("change", function (event) {
    online = true;
  })


  var stripe = Stripe("{{ stripe_publishable_key }}");


  // CODE FOR CARRY-OUT CHECKOUT
  var carryOutForm = document.getElementById("carryout-form")
  carryOutForm.addEventListener("submit", (event) => {
    event.preventDefault()
    var carryOutInfo = {}
    carryOutInfo['delivery'] = false;
    carryOutInfo['phone'] = document.getElementById("carryout-phone").value
    carryOutInfo['email'] = document.getElementById("carryout-email").value

    if (online) {
      // get preparation time selections
      if (document.getElementById('asap').checked == true) {
        carryOutInfo['urgency'] = "asap"
      } else {
        carryOutInfo['urgency'] = "custom"
        const date = document.getElementById('datepicker').value;
        const time = document.getElementById('timepicker').value;
        carryOutInfo['pickup_date'] = date + " " + time
        }
      // send POST request to Stripe checkout for Carryout order
      fetch("{% url 'order:api_checkout_session' order.transaction_id %}", {
        method: "POST",
        headers: { 'Content-Type': 'application/json', 'X-CSRFToken': csrftoken },
        body: JSON.stringify(carryOutInfo)
      })
      .then(function (response) {
        return response.json();
        })
      .then(function (session) {
        return stripe.redirectToCheckout({ sessionId: session.sessionId });
        })
      .catch((error) => {
          console.error("Error", error);
        });  
    } else {
      console.log("Need to handle cash payment");
    }
     

  })


  // CODE FOR DELIVERY CHECKOUT
  var deliveryForm = document.getElementById("address-form");
  deliveryForm.addEventListener("submit", (event) => {
    event.preventDefault();
    if (online) {
      // grab data from the form
      const formData = new FormData(deliveryForm);
      // convert form data into an object
      var addressInfo = {};
      for (var [key, value] of formData.entries()) {
        addressInfo[key] = value;
      }
      // delete csrf middleware token
      delete addressInfo['csrfmiddlewaretoken']
      // add Delivery Method
      addressInfo['delivery'] = true;
      // send POST request to Stripe checkout session - Delivery Order 
      fetch("{% url 'order:api_checkout_session' order.transaction_id %}", {
        method: "POST",
        headers: { 'Content-Type': 'application/json', 'X-CSRFToken': csrftoken },
        body: JSON.stringify(addressInfo)
      })
        .then((response) => {
          // handle validation errors
          if (response.status == 422) {
            const showError = document.getElementById("error-messages")
            showError.innerText = "" // clear field first
            return response.json().then(data => {
              for (let i = 0; i < data['errors'].length; i++) {
                // console.log(i, data['errors'][i]);
                showError.innerText += "\n" + data['errors'][i]
              }
            })
          } else {
            response.json().then(data => {
              return stripe.redirectToCheckout({ sessionId: data.sessionId });
            })

          }
        })
        .catch((error) => {
          console.error("Error", error);
        });
    } else {
      console.log("Need to handle cash payment");
    }

  });


  // listen to radio buttons to show/hide pick-up time and date
  document.getElementById("asap").addEventListener('click', function (event) {
    document.getElementById("date-time-picker").style.display = "none";
  })
  document.getElementById("select-time").addEventListener('click', function (event) {
    document.getElementById("date-time-picker").style.display = "block";
  })

  var today = new Date();
  var time = today.getHours()
  // set default date in date-picker as today
  document.getElementById('datepicker').valueAsDate = new Date();
  // jQuery TimePicker
  $(document).ready(function () {
    $('input.timepicker').timepicker({
      timeFormat: 'h:mm p',
      interval: 30,
      minTime: String(time) + ':30',
      maxTime: '9:00pm',
      defaultTime: String(time + 1),
      startTime: String(time) + ':30',
      dynamic: false,
      dropdown: true,
      scrollbar: true
    });
  });  
</script>

{% endblock %}